html {

    height: 100vh;
    ;
}

#bg {
    background-color: #6488ea;
}

#inner-bg {
    width: 25%;
    background-color: aliceblue;
}

p {
    font-family: 'Montserrat', sans-serif;
}

h1,
h3 {
    font-family: 'Syne', sans-serif;
}

input {

    border: none;
    border-radius: 5px;

    height: 50px;

}

button {
    border: none;
    height: 50px;
    color: aliceblue;
    background-color: #6488ea;
}

::placeholder {
    height: 100%;
    font-weight: bolder;
    font-size: smaller;
    padding-left: 50px;
    background-color: #9faef2;
    font-family: 'Montserrat', sans-serif;
}

@media only screen and (max-width: 600px) {
    #inner-bg {
        width: 80%;


    }
}